Makefile
Makefile.in
aclocal.m4
autom4te.cache/*
config.log
config.status
config/*
configure
libhotodoc.pc
libtool
.libs/*
m4/*
!m4/hotdoc.m4
libhotodoc.la
Hotodoc*.gir
Hotodoc*.typelib
libhotodoc*.tar.gz
hotdoc-private*
